@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
  font-family: "Revue";
  src: url("/fonts/revue.woff"), url("/fonts/revue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0 0 0 0;
}

body {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6deec0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6deec0;
}

.fader-slide:hover {
  animation: fade-out 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fader-slide--1 {
  animation-delay: 2.5s;
  z-index: 1;
}

.fader-slide--2 {
  animation-delay: 5s;
}
